[Unit]
Description=supervisord - Supervisor process control system for UNIX
Documentation=http://supervisord.org
After=network.target

[Service]
Type=forking
ExecStart={{ supervisor_bin }} -c {{ supervisor_conf_file }}
ExecReload={{ supervisor_bindir }}/supervisorctl reload
ExecStop={{ supervisor_bindir }}/supervisorctl shutdown
User=root

[Install]
WantedBy=multi-user.target
